{
  "presets": [ "es2015", "stage-0", "react"],
  "plugins": [
  	"transform-decorators-legacy",
  	["import", { "libraryName": "antd", "style": true }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
